

h1, body, html, main{
    margin: 0;
    
}

body{
    background-color: black;
    align-self: center;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px
}
header img{
    width: 1024px;
    height:700px;

}

h1{
    font-size: 3em;
    position: absolute;
    margin: 0;
    top: 40%;
    left: 40%;
    color: rgb(248, 248, 248);
    transition-delay: 1s;
    transition: color 3s;


}

h1:hover{
    color: rgb(228, 178, 13);
}

header {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}

hr{
    height: 2px;
    background-color: grey;
    align-self: center;
    width: 72%;
    border: 0;
}

section{
    padding: 80px auto;
    align-self: center;
    width: auto;
    padding: 0 150px;
}

section p{
    text-align: justify;
    padding: 80px 0 15px 0;
}

img{
    
    margin:auto;
    display: block;
}

#recipe-details{
    height: 50px;
    width: 30%;
}
#cooking-time{
    height: 60px;
    width: 25%;
    
    
}

cooking-time:hover{
    animation-name: runningPicture;
    animation-duration: 4s;
}
.white-bg{
    margin: -20px auto;
    vertical-align: middle;
    width: 1024px;
    background-color:white;
}

.ul{
    text-decoration: none;
    padding-bottom: 60px;
    list-style-type: none;
}

h3{
    padding-top: 40px;
    font-size: large;
}

ol{
    padding-bottom: 60px;
}

@keyframes runningPicture{
    0%{
        left:0;
    }
    /* 20%{
        left:-10px; top:-3px;
    } */
    100%{
        left:300px; top:1px; 
    }
}